In [1]:
import pandas as pd
import numpy as np
import joblib

In [2]:
with open('pipeline.pkl', 'rb') as file_1:
  pipeline = joblib.load(file_1)

In [3]:
sample_type_val = ['lab 1', 'lab 2']

np.random.seed(28) 
v1 = np.random.uniform(227.285714, 678.375000,size=20)
v2 = np.random.uniform(178.800000, 422.812500,size=20)
v3 = np.random.uniform(348.933333, 722.312500, size=20)
v4 = np.random.uniform(313.733333, 558.500000, size=20)
v5 = np.random.uniform(373.333333, 721.000000,size=20)
v6 = np.random.uniform(189.200000, 415.375000,size=20)
v7 = np.random.uniform(586.266667, 853.466667,size=20)
v8 = np.random.uniform(3725.666667, 5086.375000,size=20)
sample_type = np.random.choice(sample_type_val,size=20)




data_inf = pd.DataFrame({'v1': v1, 'v2': v2, 'v3' : v3, 'v4' : v4, 
                    'v5' : v5, 'v6' : v6, 'v7' : v7, 'v8' : v8, 'sample_type' : sample_type})
data_inf.head()

,v1,v2,v3,v4,v5,v6,v7,v8,sample_type
0,556.136002,253.964934,363.608322,455.449134,496.470371,275.570018,747.891541,4230.750202,lab 2
1,480.454885,283.620165,593.878683,528.112065,552.268348,331.724105,735.198239,4010.427196,lab 1
2,283.657030,381.347311,442.719688,557.796942,464.317481,289.475095,595.098907,4164.578232,lab 2
3,406.635372,316.031061,717.988166,381.119149,669.454761,194.972490,692.884858,4006.207677,lab 1
4,579.725475,381.547134,548.087450,495.505936,590.013545,241.947458,608.530072,4283.378377,lab 1

In [4]:
data_inf['target'] = pipeline.predict(data_inf)
data_inf

,v1,v2,v3,v4,v5,v6,v7,v8,sample_type,target
0,556.136002,253.964934,363.608322,455.449134,496.470371,275.570018,747.891541,4230.750202,lab 2,4.788889
1,480.454885,283.620165,593.878683,528.112065,552.268348,331.724105,735.198239,4010.427196,lab 1,4.612222
2,283.657030,381.347311,442.719688,557.796942,464.317481,289.475095,595.098907,4164.578232,lab 2,4.720000
3,406.635372,316.031061,717.988166,381.119149,669.454761,194.972490,692.884858,4006.207677,lab 1,4.654444
4,579.725475,381.547134,548.087450,495.505936,590.013545,241.947458,608.530072,4283.378377,lab 1,4.654444
5,457.789173,422.063209,371.028136,383.426224,479.187316,365.446519,715.368717,3910.026301,lab 2,4.604444
6,309.696731,259.953386,609.834010,491.494799,642.941378,227.642791,815.133527,4836.555240,lab 2,4.788889
7,612.296227,201.007120,583.107325,433.930985,684.686906,282.965620,812.787215,4594.184328,lab 2,4.842222
8,658.243739,367.624573,683.398378,526.194739,629.705411,323.728904,685.224328,4645.249201,lab 2,4.626667
9,671.253865,215.251498,409.392632,353.449589,670.780388,395.216040,778.148406,3737.286217,lab 1,4.584444
10,314.211059,355.795701,576.837098,551.481340,658.463574,303.733113,587.498631,4729.194226,lab 1,4.660000
11,665.200983,411.867669,467.288965,325.698921,674.141815,288.407864,790.457810,4769.561625,lab 2,4.571111
12,333.205247,196.636283,633.920833,485.203620,506.187064,196.503677,785.784932,3946.422391,lab 2,4.912222
13,239.173653,287.913301,407.285806,473.307716,585.899188,240.860456,815.769777,5032.881337,lab 2,4.704444
14,654.043399,384.043323,696.133981,325.104970,517.790903,230.274378,708.315333,4811.329819,lab 2,4.953333
15,643.065919,214.313498,534.805410,362.026011,457.515532,244.060153,839.511376,4520.480679,lab 1,4.663333
16,359.895033,365.535821,660.045539,394.654908,394.628283,372.278621,756.572857,3783.527575,lab 2,4.550000
17,302.290000,369.565292,434.799126,497.955728,657.556433,306.650069,719.230836,4191.966020,lab 1,4.617778
18,405.656720,343.527604,388.813966,403.076736,506.709429,272.572068,636.800194,4225.966789,lab 1,4.704444
19,457.643360,210.936980,600.479020,443.648383,713.643541,293.772841,789.289515,4930.711306,lab 2,4.862222